/* @media screen and (max-width:480px) { */
    body{
        margin: 0 2px;
        padding: 0px;
        background-color: #FAFAFA;
    }

    .dropdown{
        background:rgba(255,255,255,0.3); 
        text-align: center;
        display: none;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 2;
        backdrop-filter: blur(30px);


    }

    .dropdown a{
        font-family: arial;
        font-weight: bolder;
        font-size:16px ;
        text-decoration: none;
        color: black;
        cursor: pointer;

    }
    .dropdown a:hover{
        color: gray;
    }





    .mainNav{
        background-color: red;
        text-align: end;
        position: sticky;
        top: 0px;
        height: 40px;
        align-content: center;
        width: 100%;
        overflow: hidden;
        z-index: 2;
    }
    .mainNav i{
        font-size: 25px;
        position: relative;
        right: 20px;
        color: white;
        border: 1px solid white;
        border-radius: 2px;
        padding: 4px;
        
    }

    .whatsapp{
        z-index: 2;
        position: sticky;
        top: 50px;
        background-color: rgb(29, 230, 117);
        height: auto;
        width: 70px;
        text-align: center;
        padding: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;


    }
    .whatsapp i{
        font-size: 30px;
        color: rgb(255, 255, 255);
    }
    .call{
        z-index: 2;
        position: sticky;
        top: 100px;
        background-color: rgb(29, 230, 117);
        height: auto;
        width: 70px;
        text-align: center;
        padding: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .call i{

            font-size: 25px;
            color: rgb(255, 255, 255);
        
    }

    .owner{
        /* background-color: teal; */
        font-size: 25px;
        position: absolute;
        top: 50px;
        right: 10px;
        font-family: cursive;
        font-weight: bolder;
        filter: drop-shadow(1.5px 1.5px rgba(44, 43, 43, 0.151));
    }

    .accessoriesBtn{
        display: flex;
        gap: 30px;
        justify-content: center;

    }
    .accessoriesBtn button{
        border: 2px solid #F75D33;
        height: 40px;
        width: 70px;
        color: #F75D33;
        background-color: #ffffff;
        border-radius:5px ;
        filter: drop-shadow(2px 2px #52130267);
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;

    }


    .headder{
        /* background-color: aquamarine; */
        width: 100%;
        height: auto;

    }
    .headder img{
        height:auto;
        width:100%;
        filter: blur(3px);

    }

    .MotoOne{
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        /* background-color: blanchedalmond; */
        /* background-color: #F75D33; */
        z-index: 1;
        position: relative;
        top: 50px;
    }
    
    .MotoTwo{
        text-align: center;
        font-family: arial;
        z-index: 1;
        position: relative;
        top: 90px;
    }

    .mainimage{
        /* background-color: rgb(45, 255, 255); */
        margin: 0%;
        text-align: center;
    }
    .mainimage img{
        border-radius: 26% 74% 49% 51% / 73% 27% 73% 27%;
        background-color: rgba(0, 0, 0, 0.3);
        background-color: rgb(19, 10, 0);
        margin: 10px;
        height: auto;
        width: 80%;
    }
    .price{
        text-align: center;
        

    }
    #name{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 19px;
        font-weight: bold;
    }
    #modelprice{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;


    }
    .allSepc{
        /* background-color: yellow; */
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        height: auto;
        width: 100%;
        text-align: center;
    }
    #unorder{
        font-family: roboto, Sans-Serif, Arial;
        font-weight: bolder;
        font-size: 18px;

    }



    #orderli{
        color: gray;
        font-size: arial;
        font-weight: 500;
    }
    .card{
        /* border: 1px solid gray; */
        border-radius: 20px;
        background-color: white;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        box-shadow: 1px 1px gray;
        box-shadow: 0 0 1px 1px gray;

    }

    .btn{
        /* background-color: yellow; */
        justify-content: center;
        display: flex;
    }
    #btnOne{
        font-size: 15px;
        padding: 8px;
        width: 250px;
        border-radius: 5px;
        border:2px solid #F75D33 ;
        color: #F75D33;
        font-weight: bolder;
        cursor: pointer;
        background-color: white;
        margin-top:5px ;
    }
    #btnOne:hover{
        border:2px solid #F75D33 ;
        background-color: #F75D33;
        color: white;

    }
        #btnTwo{
        font-size: 15px;
        padding: 8px;
        width: 250px;
        background-color: #F75D33;
        border-radius: 5px;
        color: white;
        font-weight: bolder;
        cursor: pointer;
        border: 2px solid #F75D33 ;
        margin-top:5px ;
        margin-bottom: 5px;    
    }
    #btnTwo:hover{
        border:2px solid #ffffff ;
        background-color: white;
        color: #F75D33;
    }

    .viewallcard{
        background:rgba(255, 255, 255, 0.884); 
        height: auto;

        width: 80%;

        transform: translate(13%);

        position: fixed;
        top: 30%;
        display: none;
        
    }
    .cross{
        float: right;
        /* background-color: aquamarine; */
        font-size: 17px;
        height:25px;
        width: 25px;
        position: relative;
        top: -8px;
        left: 11px;
    }
    .cross i{
        float: right;
    }

    #emi{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 23px;
        font-weight: bolder;
        color: rgb(209, 86, 86);
        filter: drop-shadow(.7px .7px rgb(255, 251, 0));

    }
    /* .bankoffer{

    } */

    #emiPrice{

        display: flex;
        justify-content: center;
        text-align: center;
    }
    #emiPrice th{
        font-weight: bold;
        padding:20px ;
        font-size: 19px;

    }
    #emiPrice td{
        font-weight: bold;

    }

    .avelableEmi{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bolder;

    }
    .avelableEmi i{
        padding: 10px;
        font-size: 20px;
    }
    .Servicing{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }
    .Servicing i{
        padding: 5px;
        font-size: 20px;
    }

    .color{
        background:rgba(255, 255, 255, 0.884); 
        height: auto;
        width: 70%;
        position: fixed;
        top: 45%;
        display: none;
        transform: translate(25%);
    }
    .allcolor{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .allcolortwo{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .ColorOne{
        background-color: red;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        display: flex;
        border-radius: 50%;
        
    }
    .ColorTwo{
        background-color: white;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        display: flex;
        border-radius: 50%;
    }
    .ColorThree{
        background-color: green;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        display: flex;
        border-radius: 50%;
    }
    .ColorFour{
        background-color: blue;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        display: flex;
        border-radius: 50%;
    }
    .ColorFive{
        background-color: #086F9B;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        display: flex;
        border-radius: 50%;
    }
    .colorSix{
        background-color: seagreen;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        display: flex;
        border-radius: 50%;
    }
    .colorSeven{
        background-color: gray;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        display: flex;
        border-radius: 50%;
    }
    .color i{
        float: right;

    }



/* Home */
/* 
    #homeColor{
        border-bottom: 2px solid #000000;
        padding:3px ;
        filter: drop-shadow(1px 2px gray);
        
    }
    #batteryColor{
        border-bottom: 2px solid #000000;
        padding:3px ;
        filter: drop-shadow(1px 2px gray);

    }
    #partsColor{

      border-bottom: 2px solid #000000;
    padding:3px ;
    filter: drop-shadow(1px 2px gray);

}   */


/* Battery */
    #cardBatteryOne{
        display: none;
    }
    #cardBatteryTwo{
        display: none;
    }
    #cardBatteryThree{
        display: none;
    }



    /* Parts */
    #cardPartsOne{
        display: none;
    }
    #cardPartsTwo{
        display: none;
    }

/* } */


